* {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat;
  box-sizing: border-box;

}
h2{
  text-align: center;
  text-decoration: underline;
  
}
::selection{
  background-color: #ffc26c;
}

.Navbar{
 
  display: flex;
  margin-left: 30%;
  margin-right: 100px;
  width: 100%;
  font-weight: 500;
  justify-content: space-between;
}
.navbar-sticky{
position: fixed;
 top: 0%;
 width: 100%;
 background-color: #fff;
 z-index: 1;
}
.container{
  margin-top: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}
:where(.flow :not(:first-child)){
  margin-top: var(--flow-spacer,4em);
}
.even-column{
  display: grid;
  gap: 1em;
  margin-top: 96px;
  text-align: center;
}
@media (min-width: 50em) {
  .even-column {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
.even-column h1{
  font-weight: 800;
  font-size: 58px;
  line-height: 80px;
  color:  #252B42;
  letter-spacing: 0.2px;
  text-align: center;
}
.even-column p{
  
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  color: #737373;
  padding: 10px;
  letter-spacing: 0.2px;
  text-align: center;
  margin-bottom: 26px;
}
.illustration{
  width: 688px;
  height: 443px;
}
.about{
  text-align: center;
  margin: 8% 17%;
}
.about h1{
  text-decoration: underline;
  text-decoration-thickness:2px;
  
  color: #252B42;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: 0.2px;
}
.about p{
  color: #000;
  line-height: 38px;
  font-weight: 400;
  letter-spacing: 0.2px;
  font-size: 20px;
}
.grid-container{
  background-color: rgba(217, 217, 217, 1);
  border-radius: 23px;
  position: relative;
  margin: 1% 15%;
  padding: 1% 1%;
  text-align: center;
}

.sub-grid-container{
  
  position: relative;
  
  padding: 1% 1%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 23px;
  justify-content: space-around;
}
.grid-item{
  text-align: center;
  margin: 1%;
  border-radius: 23px;
  position:relative ;
  /* top: 200px; */
  height: 200px;
  width: 200px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}
.grid-item p{
  text-align: center;
position: absolute;
bottom: 26px;

}

.form-group{
  margin-bottom: 3%;
  margin: 1%;
  
}
.form-container{
 margin: 0 22%; 
 text-align: center;
 
}

.form-group{
  margin: 0%;
  
}
.form-control{
  margin-bottom: 5% ;
}
.btn{
  margin-bottom: 2%;
}



/* Footer */
.footer {
  max-width: 1380px;
  margin: auto;
  border-top: 1px solid rgb(182, 182, 182);
  height: 100%;
}

.contact-us 
  p ,h2 {
    margin: 0px;
    /* font-weight: bold; */
  }
.contact-us 
p{
  color: grey;
}  

.footer-container {
  width: 80%;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-items {
  margin: auto;
  width: 100%;
  height: 200px;
}
.footer-items ul {
  padding: 0px;
  /* background-color: #f8f9fa; */
}
.footer-items h5 {
  color: black;
  /* font-weight: bold; */
}
.footer-items ul li a {
  text-decoration: none;
  color: grey;
}
.footer-items ul li a:hover {
  color: rgb(78, 78, 78);
  text-decoration: underline;
}
.social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 360px;
  margin: 40px auto;
  
}
.social a {
  display: flex ;
  justify-content: center;
  align-items: center;
}
.social-icons,
.contact-icons {
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.2s;
  margin: 10px;
  display: inline;
}
.social-icons {
  color: black;
}
.contact-icons {
  color: grey;
  font-size: 18px;
  margin: 5px;
}
.social-icons:hover {
  transform: scale(1.5);
}
.mail-us {
  text-decoration: none;
  color: grey !important;
}
.newsletter {
  margin: auto;
  width: 100%;
  height: 200px;
}
@media (max-width: 991px) {
  .footer-container {
    display: flex;
    flex-direction: column-reverse;
    width: 95%;
  }
  .footer-address {
    text-align: center;
  }
  .footer-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  .footer-items h5 {
    font-size: 1.5rem;
  }
  .footer-items ul li a {
    font-size: 0.8rem;
  }
  .social {
    grid-template-columns: 1fr 1fr 1fr;
    width: 280px;
    margin: 40px auto;
    row-gap: 30px;
  }
  .important-footer {
    display: none;
  }
}